@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&display=swap');

:root {
    --primary-color: #52489C;
    --secondary-color: #59C3C3;
    --primary-bg-color: #FAF9F6;
    --logo-font: "DM Sans", sans-serif;
    --logo-font-weight: 500;
    --logo-font-style: italic;
}

* {
    font-family: "Poppins" , sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

li, a, button {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.logo-text {
    font-family: var(--logo-font);
    font-weight: var(--logo-font-weight);
    font-style: var(--logo-font-style);
    color: var(--primary-color);
    font-size: 26px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: var(--primary-bg-color);
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--secondary-color);
}

/* main */

main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--primary-bg-color);
}

/* form */

.form-wrapper {
    width: 420px;
    background: var(--primary-bg-color);
    border-radius: 10px;
    border: 1px solid black;
    padding: 30px 40px;
}

.form-wrapper h2 {
    font-size: 36px;
    text-align: center;
}

.form-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0
}

.input-box input {
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.form-wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease 0s;
}

.form-wrapper .btn:hover {
    background: var(--secondary-color);
}

.form-wrapper .form-text {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

.form-text p a {
    text-decoration: none;
    font-weight: 600;
}

.form-text p a:hover {
    text-decoration: underline;
}

.form-text .text-divider {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem;
}

.text-divider::before,
.text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
}