{% extends "base.html" %}
{% block title %}PayApp | Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.username }}</h2>
    <p>Current Balance: {{ user.balance }}</p>
    <div class="row w-100 justify-content-around mb-5">
        <div class="col text-center">
            <a href="{% url 'send_payment' %}" class="btn btn-primary">Send Payment</a>
        </div>
        <div class="col text-center">
            <a href="{% url 'request_payment' %}" class="btn btn-primary text-nowrap">Request Payment</a>
        </div>
    </div>
    <div class="row w-100 justify-content-around mb-5">
        <div class="col">
            <div class="card">
                <div class="card-header">Transactions</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for transaction in transactions %}
                            {% if transaction.sender == user %}
                                <li class="list-group-item">
                                    Sent: {{ transaction.amount }} {{ user.currency }} to {{ transaction.receiver }} on {{ transaction.create_at|date:'d-m-Y H:i' }}
                                </li>
                            {% else %}
                                <li>
                                    Received: {{ transaction.amount }} {{ user.currency }} from {{ transaction.sender }} on {{ transaction.created_at|date:'d-m-Y H:i' }}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No transactions available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Requests</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for request in request %}
                            {% if request.requester == user %}
                                <li class="list-group-item">
                                    Sent: {{ request.amount }} {{ user.currency }} from {{ request.requestee }} requested on {{ request.create_at|date:'d-m-Y H:i' }}
                                </li>
                            {% else %}
                                <li>
                                    Received: {{ request.amount }} {{ user.currency }} to {{ request.requester }} on {{ request.created_at|date:'d-m-Y H:i' }}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No Requests available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}