{% extends "base.html" %}
{% block title %}PayApp | Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.first_name }}</h2>
    <p>Current Balance: {{ currency_symbol }}{{ user.balance }}</p>
    <div class="row w-100 justify-content-around mb-5">
        <div class="col text-center">
            <a href="{% url 'send_payment' %}" class="btn btn-primary">Send Payment</a>
        </div>
        <div class="col text-center">
            <a href="{% url 'request_payment' %}" class="btn btn-primary text-nowrap">Request Payment</a>
        </div>
    </div>
    <div class="row w-100 justify-content-around mb-5">
        <div class="col">
            <div class="card">
                <div class="card-header">Received Transactions</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for transaction in transactions %}
                            {% if transaction.receiver == user %}
                                <li class="list-group-item">
                                    Received: {{ transaction.receiver_amount }} {{ user.currency }} from {{ transaction.sender }} on {{ transaction.created_at|date:'d-m-Y H:i' }}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No transactions available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Received Requests</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for request in requests %}
                            {% if request.requestee == user %}
                                <li class="list-group-item">
                                    Received: {{ request.requestee_amount }} {{ user.currency }} requested from {{ request.requester }} on {{ request.created_at|date:'d-m-Y H:i' }}
                                    {% if request.status == 'PENDING' %}
                                        <span class="text-warning">{{ request.get_status_display }}</span>
                                        <div class="mt-2">
                                            <a href="{% url 'accept_request' request.pk %}" class="btn btn-success btn-sm">Accept</a>
                                            <a href="{% url 'reject_request' request.pk %}" class="btn btn-danger btn-sm">Reject</a>
                                        </div>
                                    {% elif request.status == 'ACCEPTED' %}
                                        <span class="text-success">{{ request.get_status_display }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ request.get_status_display }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No Requests available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 justify-content-around mb-5">
        <div class="col">
            <div class="card">
                <div class="card-header">Sent Transactions</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for transaction in transactions %}
                            {% if transaction.sender == user %}
                                <li class="list-group-item">
                                    Sent: {{ transaction.sender_amount }} {{ user.currency }} to {{ transaction.receiver }} on {{ transaction.created_at|date:'d-m-Y H:i' }}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No transactions available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Sent Requests</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for request in requests %}
                            {% if request.requester == user %}
                                <li class="list-group-item">
                                    Sent: {{ request.requester_amount }} {{ user.currency }} requested from {{ request.requestee }} on {{ request.created_at|date:'d-m-Y H:i' }}
                                    {% if request.status == 'PENDING' %}
                                        <span class="text-warning">{{ request.get_status_display }}</span>
                                    {% elif request.status == 'ACCEPTED' %}
                                        <span class="text-success">{{ request.get_status_display }}</span>
                                    {% else %}
                                        <span class="text-danger">{{ request.get_status_display }}</span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No Requests available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}