{% extends "base.html" %}
{% block title %}PayApp{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <a href="{% url 'login' %}">
            <button type="submit" class="btn">Log In</button>
        </a>
        <div class="form-text">
            <p class="text-divider">or</p>
        </div>
        <a href="{% url 'register' %}">
            <button type="submit" class="btn">Sign up</button>
        </a>
        <div class="form-text">
            <p>to continue</p>
        </div>
    </div>
{% endblock %}